<h1>My Fancy Rails App</h1>
<p>And this was the little world in which I had been living securely for years, this fiery chaos!  What had happened in the last seven hours I still did not know; nor did I know, though I was beginning to guess, the relation between these mechanical colossi and the sluggish lumps I had seen disgorged from the cylinder.  With a queer feeling of impersonal interest I turned my desk chair to the window, sat down, and stared at the blackened country, and particularly at the three gigantic black things that were going to and fro in the glare about the sand pits.</p>

<p>They seemed amazingly busy.  I began to ask myself what they could be.  Were they intelligent mechanisms?  Such a thing I felt was impossible.  Or did a Martian sit within each, ruling, directing, using, much as a man's brain sits and rules in his body?  I began to compare the things to human machines, to ask myself for the first time in my life how an ironclad or a steam engine would seem to an intelligent lower animal.</p>

<p>The storm had left the sky clear, and over the smoke of the burning land the little fading pinpoint of Mars was dropping into the west, when a soldier came into my garden.  I heard a slight scraping at the fence, and rousing myself from the lethargy that had fallen upon me, I looked down and saw him dimly, clambering over the palings.  At the sight of another human being my torpor passed, and I leaned out of the window eagerly.</p>

<p>"Hist!" said I, in a whisper.</p>

<p>He stopped astride of the fence in doubt.  Then he came over and across the lawn to the corner of the house.  He bent down and stepped softly.</p>
